.gitignore
.prettierignore
.prettierrc
compose.yaml
drizzle.config.ts
eslint.config.ts
Makefile
VERSION
README.md
*.swp
.env*

node_modules
build/
dist/

.svelte-kit
.git
.drizzle
.github
.vscode

*.db
