README.md
*.swp
.env
.env.example

node_modules
build/
.drizzle
.svelte-kit

.git
.gitignore
.github

.vscode
.env.example
.npmrc
.prettierignore
.prettierrc
compose.yaml
drizzle.config.ts
eslint.config.ts
Makefile
postcss.config.ts

sqlite.db